#fa {
  padding: 20px;
  row-gap: 10px;
}
#fa ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#fa ul li {
  display: flex;
  flex-direction: column;
}
#fa ul li button {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.3s;
}
#fa ul li button:hover {
  background: var(--gray6);
}
#fa div {
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}
#fa div a {
  text-decoration: underline;
}
