.fa {
  padding: 20px;
  row-gap: 10px;
}
.fa ul {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.fa button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid;
  padding: 30px;
  row-gap: 10px;
  border-radius: 15px;
  width: 100%;
}
p.faq {
  border-radius: 15px;
  border: 1px solid red;
  padding: 20px;
}
a {
  text-decoration: underline;
  padding: 10px 0px;
}
.fa div {
  border: 1px solid var(--gray6);
  background: 1px solid var(--gray3);
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  row-gap: 20px;
}
