#pos {
  padding: 20px;
  row-gap: 10px;
}
#pos ul {
  display: flex;
  column-gap: 10px;
  overflow: hidden;
}
#pos ul li:hover {
  transform: scale(1.03);
  position: relative;
}
#pos ul img {
  border: 1px solid;
  border-radius: 20px;
  width: 180px;
  height: 240px;

  object-fit: cover;
}
#pos ul p {
  left: 0%;
  bottom: 0%;
  transform: translate(0%, -120%);
  text-align: center;
}
