#re {
  padding: 20px;
  row-gap: 10px;
}
#re ul {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
#re ul div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 20px;
  padding: 30px;
  background: var(--gray7);
}
#re ul div:hover {
  background: var(--gray5);
}
#re ul div svg {
  font-size: 30px;
}
