.ws {
  padding: 20px 30px;
  background-color: whitesmoke;
  row-gap: 20px;
}

.ws .f:first-child {
  flex-direction: row;
  align-items: center;
}

.ws .f:first-child svg {
  font-size: 60px;
  transform: rotate(-15deg);
}
.box {
  border: 5px solid var(--gray4);
  border-radius: 10px;
}
.box .email {
  font-size: 18px;
  padding: 20px;
  background: var(--blue1);
}
.box img {
  width: 70px;
  border-radius: 30px;
  padding: 20px;
}
.box .box_b {
  border: 1px solid red;
  flex-direction: row;
}
.box .data {
  padding: 20px 0px;
  row-gap: 20px;
  padding-right: 10px;
}
.box .mem {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
