header#client,
header#client div {
  flex-direction: row;
  column-gap: 10px;
}
header#client {
  height: 30px;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

header#client ul {
  flex-direction: row;
  display: flex;
  color: white;
  column-gap: 10px;
  font-size: 20px;
  align-items: center;
}
header#client {
  background: var(--blue8);
  padding: 10px 20px;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: calc(100vw - 40px);
  z-index: 10000;
}

header#client form {
  flex-direction: row;
  display: flex;
}
header#client form input {
  padding: 10px;
  border-radius: 5px;
  min-width: 250px;
  background: var(--blue6);
  outline: none;
  border: none;
  position: relative;
  color: white;
}
header#client form input::placeholder {
  color: white;
}
header#client button.hi svg {
  font-size: 25px;
  color: var(--blue2);
}
header#client button.hi_2 svg {
  font-size: 25px;
}
header#client .s {
  font-size: 16px;
  align-self: center;
  position: absolute;
  right: 25px;
}
header#client button.hi svg:hover {
  background: var(--blue5);
  border-radius: 5px;
}
header#client button.hi_2 svg:hover {
  background: var(--blue5);
  border-radius: 5px;
}
